comment-service/node_modules
comment-service/node_modules/
post-service/node_modules
post-service/node_modules/
moderation-service/node_modules
moderation-service/node_modules/
query-service/node_modules
query-service/node_modules/
event-bus/node_modules
event-bus/node_modules/
client/node_modules
client/node_modules/

# Editor directories and files
.idea
.idea/*
.vscode
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?